PORT=5300

DATABASE_URL=postgresql://admin:password123@localhost:5433/family_vault_dev?schema=public

COOKIE_SECRET=cookie_secret
JWT_ACCESS_SECRET=jwt_access_secret
JWT_REFRESH_SECRET=jwt_refresh_secret

LOG_LEVEL=info
BETTERSTACK_TOKEN=